.notSignedColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.line {
  background-color: whitesmoke;
  display: flex;
  flex-direction:row;
  width:80%;
  height: 1px;
}
  
.notSignedText {
  font-size: 2rem;
  color: #FF204E;
}

.waitingHeader {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 15px;
}

.detailsText {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 15px;
}

.contentContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userDataColor {
  color: rgb(132, 200, 148);
}