.placeholder {
    width: 60%;
    height: 100px;
    --amplify-components-placeholder-start-color: var(--custom-second);
    --amplify-components-placeholder-end-color: var(--custom-second);
}

.actionButton{
    font-size: 1.5rem;
    color: var(--custom-fourth);
}

.actionButton:hover{
    cursor: pointer;
}

.table {
    width: 60%;
    margin-bottom: 100px;
}

.tableHeader {
    font-size: 1.5rem;
    color: var(--custom-third);
}

.tableActionsHeader {
    font-size: 1.5rem;
    color: var(--custom-third);
    text-align: end;
    padding-right: 30px;
}

.tableCell {
    font-size: 1rem;
    color: var(--text-color);
}