.placeholder {
    width: 60%;
    height: 100px;
    --amplify-components-placeholder-start-color: var(--custom-second);
    --amplify-components-placeholder-end-color: var(--custom-second);
}

.actionButton{
    font-size: 1.5rem;
    color: var(--custom-fourth);
}

.actionButton:hover{
    cursor: pointer;
}

.table {
    width: 60%;
    margin-bottom: 100px;
}

.noRow {
    width: 10%;
}

.tableHeader {
    font-size: 1.5rem;
    color: var(--custom-third);
}

.tableActionsHeader {
    font-size: 1.5rem;
    color: var(--custom-third);
    text-align: end;
    padding-right: 30px;
}

.tableCell {
    font-size: 1rem;
    color: var(--text-color);
}

.fileNameChangeRow {
    width: 100%;
}

.textInput {
    width: 100%;
}

.buttonSave {
    background: transparent;
    color: var(--text-color) !important;
    font-weight: 400;
    border-color: var(--green-accept);
}

.buttonSave:hover {
    background: var(--green-accept);
    border-color: transparent;
    opacity: 0.6;
    color: var(--custom-first) !important;
}

.iconSave {
    font-size: 1.5rem;
    margin-right: 10px;
}