:root {
  --custom-first: #082032;
  --custom-second: #2C394B;
  --custom-third: #334756;
  --custom-fourth: #FF4C29;
  --text-color: #EEEEEE;
  --light-accent: #787A91;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: auto !important;
  background-color: #082032 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
