.mainFlex {
    width: 100%;
}

.dropZone {
    width: 30%;
    background-color: transparent;
    border-width: 2px;
    border-color: var(--custom-fourth);
    margin-top: 30px;
}

.dropZoneText {
    color: var(--light-accent) !important;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.divider {
    width: 30%;
    border-width: 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropIcon {
    color: var(--light-accent) !important;
    font-size: 1.5rem;
}

.customButton {
    background: transparent;
    color: var(--text-color) !important;
    font-weight: 400;
    margin-top: 10px;
}

.customButton:hover {
    background: var(--custom-fourth);
    border-color: transparent;
    opacity: 0.6;
    color: var(--text-color);
}

.normalText {
    color: var(--text-color) !important;
    font-size: 1rem;
    text-overflow: ellipsis;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
}

.buttonSubmit {
    background: transparent;
    color: var(--text-color) !important;
    font-weight: 400;
    margin: 30px 0 0 0  !important;
    border-color: var(--green-accept);
}

.buttonSubmit:hover {
    background: var(--green-accept);
    border-color: transparent;
    opacity: 0.6;
    color: var(--custom-first) !important;
}